Repository genaisrini/azure-agentic-infraops: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, link-check, artifact-validation, agent-frontmatter

Path conditions:
  markdown-lint: any of: *.md
  link-check: any of: docs/**/*.md
  artifact-validation: any of: agent-output/**/*.md
  agent-frontmatter: any of: **/*.agent.md

feat(docs): v8.2.0 - 5-gate workflow diagram correction (#93)
  CHANGELOG.md
  README.md
  VERSION.md
  docs/presenter/infographics/agent-workflow-sequence.py
  docs/presenter/infographics/generated/agent-workflow-sequence.png
  package.json
Due: markdown-lint

fix: address Copilot review suggestions (#94)
  .github/instructions/agents-definitions.instructions.md
  .github/skills/azure-deployment-preflight/SKILL.md
  .github/templates/04-governance-constraints.template.md
  .github/workflows/lint.yml
Due: markdown-lint

docs(readme): make sections collapsible with Agent Interaction Flow after Key Features (#95)
  README.md
Due: markdown-lint

docs(readme): fix accessibility and add agent model configs (#96)
  .github/agents/architect.agent.md
  .github/agents/bicep-code.agent.md
  .github/agents/bicep-plan.agent.md
  .github/agents/deploy.agent.md
  .github/agents/design.agent.md
  .github/agents/diagnose.agent.md
  .github/agents/infraops-conductor.agent.md
  .github/agents/requirements.agent.md
  README.md
Due: markdown-lint, agent-frontmatter

docs: update README model table and complete CHANGELOG for 8.2.0 (#97)
  CHANGELOG.md
  README.md
Due: markdown-lint

Pending changes exported from your codespace
  .github/agents/architect.agent.md
  .github/agents/bicep-plan.agent.md
  .github/agents/design.agent.md
  .github/agents/infraops-conductor.agent.md
  .github/agents/requirements.agent.md
  .github/instructions/agents-definitions.instructions.md
  .github/prompts/deploy.prompt.md
  .github/prompts/plan-req-demo-interactive.prompt.md
  .github/prompts/plan-req-demo.prompt.md
  .github/prompts/plan-requirements.prompt.md
  .github/skills/orchestration-helper/SKILL.md
  README.md
  agent-output/dashboard-app/01-requirements.md
Due: markdown-lint, artifact-validation, agent-frontmatter

chore: devcontainer cleanup + workflow diagram redesign
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  README.md
  docs/presenter/infographics/agent-workflow-sequence.py
  docs/presenter/infographics/generated/agent-workflow-sequence.png
Due: markdown-lint

feat(agents): interactive requirements discovery with askQuestions UI (#100)
  .github/agents/_shared/defaults.md
  .github/agents/bicep-code.agent.md
  .github/agents/deploy.agent.md
  .github/agents/design.agent.md
  .github/agents/diagnose.agent.md
  .github/agents/infraops-conductor.agent.md
  .github/agents/requirements.agent.md
  .github/instructions/artifact-h2-reference.instructions.md
  .github/prompts/plan-req-demo-interactive.prompt.md
  .github/prompts/plan-requirements.prompt.md
  .github/templates/01-requirements.template.md
  agent-output/e2e-conductor-test/04-governance-constraints.md
  agent-output/e2e-conductor-test/04-implementation-plan.md
  agent-output/e2e-conductor-test/05-implementation-reference.md
Due: markdown-lint, artifact-validation, agent-frontmatter

feat(agents): business-first requirements discovery with adaptive depth (#101)
  .github/agents/_shared/defaults.md
  .github/agents/infraops-conductor.agent.md
  .github/agents/requirements.agent.md
  .github/instructions/artifact-h2-reference.instructions.md
  .github/prompts/plan-req-demo-interactive.prompt.md
  .github/prompts/plan-requirements.prompt.md
  .github/templates/01-requirements.template.md
Due: markdown-lint, agent-frontmatter

refactor(agents): guided system-type picker for Phase 1 discovery (#102)
  .github/agents/requirements.agent.md
  .github/prompts/plan-req-demo-interactive.prompt.md
  .github/prompts/plan-requirements.prompt.md
Due: markdown-lint, agent-frontmatter

docs(e2e-conductor-test): complete Step 7 workload documentation (#103)
  agent-output/e2e-conductor-test/07-ab-cost-estimate.md
  agent-output/e2e-conductor-test/07-backup-dr-plan.md
  agent-output/e2e-conductor-test/07-compliance-matrix.md
  agent-output/e2e-conductor-test/07-design-document.md
  agent-output/e2e-conductor-test/07-operations-runbook.md
  agent-output/e2e-conductor-test/README.md
  infra/bicep/e2e-conductor-test.tar.gz
  infra/bicep/edu-pci-eshop.tar.gz
  infra/bicep/static-webapp.tar.gz
Due: markdown-lint, artifact-validation

fix: comprehensive H2 content alignment and prevention mechanisms (#105)
  .github/instructions/artifact-h2-reference.instructions.md
  .github/skills/azure-workload-docs/SKILL.md
  .github/workflows/agent-validation.yml
  agent-output/e2e-conductor-test/07-backup-dr-plan.md
  agent-output/e2e-conductor-test/07-design-document.md
  agent-output/e2e-conductor-test/07-operations-runbook.md
  scripts/fix-artifact-h2.mjs
Due: markdown-lint, artifact-validation

docs: Replace workflow diagram with minimal Graphviz pipeline (#106)
  README.md
  docs/presenter/infographics/agentic-infraops-workflow.py
  docs/presenter/infographics/generated/agentic-infraops-workflow.png
  docs/presenter/infographics/generated/agentic-infraops-workflow.svg
Due: markdown-lint
